.navBar {
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
    display: flex;
    align-items: center;
}

.playlistName {
    color: white;
}

.subtitle {
    color: white;
    font-size: 12px;
    font-weight: normal;
}

.lock {
    margin-right: 20px;
}