.header {
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
    color: white !important;
}

.header span {
    color: white !important;
    white-space: normal;
}

.trackContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.track {
    width: 300px;
    margin: 1rem;
}

.track li {
    width: 100% !important;
    margin: 0;
}

.searchBox {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2rem;
}

.inactive {
    text-align: center;
    margin-top: 1rem;
}

.cardExtras {
    border-radius: 32px
}