.welcomeScreenContainer {
    display: table;
    height: 100%;
    width: 100%;
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
    color: white !important;
}

.welcomeScreenTextContainer {
    display: table;
    text-align: center;
    height: 100%;
    width: 90%;
    margin: auto;
    color: white;
}

.welcomeScreenInnerContainer {
    display: table-cell;
    vertical-align: middle;
}

.loginSignupButton {
    width: 40%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.welcomeScreenHeader {
    color: white;
}

.question {
    color: white;
}

.header {
    background-color: rgba(0,0,0,0);
    position: fixed;
}

.header div {
    color: white;
}

@media only screen and (max-width: 650px) {
    .loginSignupButton {
      width: 100%;
    }
  }