.welcome-screen-container {
    display: table;
    height: 100%;
    width: 100%;
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
}

@font-face {
    font-family: "SF Pro Text";
    src: url(../fonts/SF-Pro/SF-Pro-Text-Regular.otf);
}

h2, p {
    font-family: "SF Pro Text";
    color: white;
}

.welcome-screen-text-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }