.header {
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
    color: white !important;
    margin-bottom: 0.5rem;
}

.header span {
    color: white !important;
}

.queueActivatedText {
    margin-bottom: 0;
    margin-left: 0.5rem
}

.approveButton { 
    color: green !important;
    border-color: green !important; 
    margin-right: 0.5rem !important;
    border-radius: 32px !important;
}
.approveButtonCurved {
    border-radius: 32px !important
}

.rejectButton {
    border-radius: 32px !important;
}

.albumArt {
    width: 64px;
    border-radius: 100%;
    border: 2px solid #574AE2;
}

.menuItem {
    margin-top: 0.5rem;
}

.requestsTable {
    margin-top: 16px;
}

.requestsTable ul {
    padding-right: 16px;
}

.sortByText {
    padding-left: 16px;
    margin-top: 16px;
}

.logo {
    width: 20%;
    margin-bottom: 0.5rem
}

.welcomeContainer {
    display: flex;
    flex-direction: column
}

.welcomeText {
    font-size: 11px;
    margin-left: 0.5rem
}

.recommendButton {
    border-radius: 32px !important;
}

.qrCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.similarity {
    color: #128913;
    font-size: 12px;
}