.extraContainer {
    display: flex;
    align-items: center
}

.checkButton {
    margin-left: 0.5rem
}

.header {
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
    color: white !important;
}

.header span {
    color: white !important;
}

.queueActivatedText {
    margin-bottom: 0;
    margin-left: 0.5rem
}

.sortByText {
    margin-left: 16px;
    margin-right: 0.5rem;
}

.radioButtons {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.approveButton { 
    color: green;
    border-color: green; 
    margin-right: 0.5rem;
    border-radius: 32px;
}

.sortContainer {
    width: 71%;
    display: inline-block;
}

.serviceAllContainer {
    width: 29%;
    display: inline-block;
}

.rejectButton {
    border-radius: 32px;
}