.loginContainer {
    display: table;
    height: 100%;
    width: 100%;
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2;
}

.loginTextContainer {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
}

.loginButton {
    color: white;
    margin: auto;
    width: 30%;
    margin-bottom: 20px; 
}

.header {
    color: white;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

.input {
    width: 80% !important;
}

@media only screen and (max-width: 650px) {
    .loginButton {
        width: 100% !important;
    }
  }