.albumArt {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: 150px;
    border-radius: 10px;
    vertical-align: top;
    margin: auto;
    cursor: pointer;
}

.albumArt:hover {
    transform: scale(1.1)
}

.title {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 11px;
}

.artist {
    font-size: 8px;
    text-align: center;
    margin-top: 3px;
}

.cardContainer {
    display: inline-block;
    margin-left: 4%;
    height: 220px;
    width: 20%;
    display: table;
    float: left;
}

p {
    color: black;
}

.added {
    width: 100%;
    height: 100%;
    margin-top: 45px;
    font-size: 60px;
    opacity: 1;
}

.innerDiv {
    background-color: rgba(255,255,255,0.8);
    width: 150px;
    height: 150px;
    border-radius: 10px;
}