.footer {
    width: 100%;
    bottom: 0;
}

.footerElem {
    color: black;
    text-decoration: none;
    float: right;
}

.footerMobile {
    padding: 0 !important;
    margin-right: 24px;
    margin-top: 24px;
}