@font-face {
    font-family: "SF Pro Text";
    src: url(./fonts/SF-Pro/SF-Pro-Text-Regular.otf);
}
@font-face {
    font-family: "SF Pro Text";
    src: url(./fonts/SF-Pro/SF-Pro-Text-Bold.otf);
    font-weight: bold;
}

h1, h2, p, span {
    font-family: "SF Pro Text" !important;
}

button {
    border-radius:28px;
    padding-bottom: 17px;
    padding-top:17px;
    background-color: Transparent;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    display: block;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: black;
}