.copyLink {
    background: linear-gradient(239.6deg, #3C1778 24.44%, #574AE2 100.52%), #8E2DE2 !important;
    color: white;
    pointer-events: none;
}

.requestsImg {
    width: 100%
}

.modal {
    width: 80% !important
}

.tourInstructions {
    margin-top: 1rem
}