.overallContainer {
    display: table;
    height: 100%;
    width: 100%;
}

.textContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center; 
    padding-left: 20px;
    padding-right: 20px;  
}

.header {
    color: white !important;
}

.button {
    color: white;
    margin: auto;
    width: 30%;
    margin-bottom: 20px; 
}

@media only screen and (max-width: 650px) {
    .button {
        width: 100% !important;
    }
  }